body {
  font-family: arial;
  background:#FFF;
  text-align: center;
}
#container {
  margin: 0 auto;
  width: 730px;
  text-align: left;
}
#canvas {
  float: left;
  width: 600px;
  height: 720px;
  padding: 0 10px;
  margin-top: 15px;
  background: #ECECEC;
  position: relative;
}
#canvas .event {
  position:absolute;
  background: #FFF;
  color:#4b6ea9;
  border: 1px solid #D6D6D6;
  border-left: 4px solid #4b6ea9;
  padding-left: 5px;
  font-size: 12px;
  overflow:hidden;
}
#canvas .event p {
  margin: 5px 0;
}
#ruler {
  float: left;
  width: 100px;
  margin-right: 10px;
}
#ruler .hour, #ruler .half-hour {
  height: 30px;
  line-height: 30px;
  text-align: right;
}
#ruler .hour {
  color: #737373;
  font-size: 12px;
  font-weight: bold;
}
#ruler .half-hour, #ruler .hour em {
  color: #B3B3B3;
  font-size: 10px;
  font-style: normal;
}
#form {
  text-align:center;
}